<h3> About Me</h3>
<div class="card z-depth-3">
</div>
<div class="card-content white-text">
</div>
<div class="col m6">
    <a class="twitter-timeline" href="https://twitter.com/AryanNa1m1?ref_src=twsrc%5Etfw">Tweets by AryanNa1m1</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="col m6">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row align-wrapper">
            <div class="col m11">
                <%= image_tag "avatar.jpg", class: "circle responsive-img" %>
                    <div class="col m7">
                        <span class="black-text">I don't know where to begin, let the universe tell you about myself</span>
                    </div>
            </div>
        </div>
    </div>
</div>